* {
  box-sizing: border-box;
}
body{
  width: 100vw;
  margin:0;
  padding:0;
  font-family: 'Droid Sans Mono';
  max-width: 400px;
  background: white;
}
#page{
  width: 300px;
  max-width: 100vw;
  margin: auto;
  padding:5px;
}
.item{
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
.provider{
  font-size: 20px;
  font-family:Lucida Console;
}
.center{
  width: 90%;
  margin: auto;
  text-align:center;
}
.code {
  font-size: 35px;
  margin-top: 10px;
  font-size: 48px;
  font-family:Lucida Sans Unicode;
  cursor: text;
}

/*
clock starts
*/
.timer{
  position:absolute;
  font-size: 16px;
  bottom:70px;
  right:50%;
  font-family:Lucida Sans Unicode;
}
/*clock ends*/

.account{
  font-size: 15px;
  margin: 5px;
  font-family:Book Antiqua;
}
nl{
  display: block;
}
.bgCCC1{
    background: #ccc;
}
.bgRED{
  background: #fdd;
}